@using Microsoft.AspNetCore.Identity
    <nav class="navbar navbar-expand navbar-light bg-white static-top topbar mb-4 shadow">
        <a class="navbar-brand d-flex align-items-center justify-content-center m-0" href="/home/index">
            <div class="sidebar-brand-text mx-3">BookStore</div>
        </a>
        <div class="topbar-divider d-none d-sm-block"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="/home/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="asd/asd">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="asd/asd">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto float-right">
            <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello <strong>@User.Identity.Name</strong></span>
                        <img class="img-profile rounded-circle" src="https://source.unsplash.com/random/60x60">
                    }
                    else
                    {
                        <i class="fa fa-sign-in-alt"></i>
                    }
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="dropdown-item" href="@Url.Action("Profile","User")">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Index","Orders")">
                            <i class="fas fa-shopping-cart fa-sm fa-fw mr-2 text-gray-400"></i>
                            Orders
                        </a>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword","User")">
                            <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                            Change password
                        </a>
                        <div class="dropdown-divider"></div>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item" href="@Url.Action("Index","Admin")">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Admin page
                            </a>
                        }
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@Url.Action("Register","Account")">
                            <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                            SignIn
                        </a>
                        <a class="dropdown-item" href="@Url.Action("LogIn","Account")">
                            <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            LogIn
                        </a>
                    }
                </div>
            </li>
        </ul>
    </nav>