@model BookStore.ViewModels.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Carousel</h2>
@foreach (var item in Model.Carousels)
{
    <div>
        <h2>@item.Title</h2>
    </div>
    <span>@item.Description</span>
}
<hr/>
<h2>Book</h2>
@foreach (var item in Model.Books)
{
    <div>
        <h2>@item.Title</h2>
    </div>
    <div>
        <i>@item.Author</i>
    </div>
    <div>
        <span>@item.PublishDate</span>
    </div>
    <div>
        <strong>@item.Price</strong>
    </div>
    <div>
        <span>@item.Description</span>
    </div>
}